<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          
          <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span> &bull; <span>{{ site.description }}</span>
        </ul>
      </div>

      

      

  </div>
	  
<script>
	$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
	  
<script type="text/javascript">
    function getyoutubetitle(nodeID, videoID) {
        let node = '#' + nodeID;
        let apiKey = 'AIzaSyDfqskjJZXVzNMKVs1c7dXvlDC2rpjrB60';
        let url = 'https://www.googleapis.com/youtube/v3/videos?id=' + videoID + '&part=snippet&key=' + apiKey;
        $.getJSON(url, function(data){
            if (data && data.items && data.items[0]) {
                $(node).text(data.items[0].snippet.title);
            } else {
              	console.log('video not exists');
            }
        });
    }
</script>
</footer>
