<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          
          <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span> &bull; <span>{{ site.description }}</span>
        </ul>
      </div>

      

      

  </div>
	  <script>
		  function getyoutubetitle(videoID) {

   $.getJSON('https://www.googleapis.com/youtube/v3/videos?id='+videoID+'&key=AIzaSyDfqskjJZXVzNMKVs1c7dXvlDC2rpjrB60&part=snippet&callback=?',function(data){
    if (typeof(data.items[0]) != "undefined") {
        console.log(data.items[0].snippet.title);
       } else {
        console.log('video not exists');
     }   
    });

}

		  
    </script>
<script>
	$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
	  

</footer>
