<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          
          <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span> &bull; <span>{{ site.description }}</span>
        </ul>
      </div>

      

      

  </div>
<script>
	$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
	  <script>
          function getyoutubetitle(id) {
            var json = 'http://www.youtube.com/oembed?url=http%3A//youtube.com/watch%3Fv%3D' + id + '&format=json';
            document.write(json[title]);
          }
		  
      </script>
<div onload="getyoutubetitle(iClTTtecJhs)"><div>
</footer>
